# Predict People with multivariances

In [123]:
import numpy as np
import matplotlib.pyplot as plt

In [124]:
import pandas as pd

path = '../data/num_file/hrs_1/p040.csv'
people = pd.read_csv(path, encoding='utf-8')

Merge "date" and "hour" columns to be datetime

In [125]:
people['datetime'] = pd.to_datetime(people['date'])+pd.to_timedelta(people['hour'], unit='h')
people = people.drop(['date', 'hour'], axis=1)
people.set_index('datetime', inplace=True)
people.columns = ['amount']
people['amount'] = people['amount'].astype(float)
print(people)

                      amount
datetime
2022-04-21 01:00:00   1033.0
2022-04-21 02:00:00     65.0
2022-04-21 12:00:00   1604.0
2022-04-25 15:00:00   4458.0
2022-04-25 16:00:00  18501.0
...                      ...
2022-09-03 07:00:00   9741.0
2022-09-03 08:00:00  19613.0
2022-09-03 09:00:00  22055.0
2022-09-03 10:00:00  14644.0
2022-09-03 11:00:00  12751.0

[3144 rows x 1 columns]

Resample the data that are not existed

In [127]:
full_index = pd.date_range(start=people.index.min(), end=people.index.max(), freq='h')
people = people.reindex(full_index)
people['amount'] = people['amount'].bfill()
print(people)

                      amount
2022-04-21 01:00:00   1033.0
2022-04-21 02:00:00     65.0
2022-04-21 03:00:00   1604.0
2022-04-21 04:00:00   1604.0
2022-04-21 05:00:00   1604.0
...                      ...
2022-09-03 07:00:00   9741.0
2022-09-03 08:00:00  19613.0
2022-09-03 09:00:00  22055.0
2022-09-03 10:00:00  14644.0
2022-09-03 11:00:00  12751.0

[3251 rows x 1 columns]

In [ ]:
temperature = pd.read_csv('../data/temperature_file/2022-04.csv')

In [ ]:
print(temperature)

               datetime  temperature  precipitation  weather
0      2022/4/1 1:00:00          6.0            0.0      NaN
1      2022/4/1 2:00:00          5.7            0.0      NaN
2      2022/4/1 3:00:00          5.0            0.0      4.0
3      2022/4/1 4:00:00          4.8            0.0      NaN
4      2022/4/1 5:00:00          4.4            0.0      NaN
..                  ...          ...            ...      ...
715  2022/4/30 20:00:00         10.5            0.0      NaN
716  2022/4/30 21:00:00         10.3            0.0      3.0
717  2022/4/30 22:00:00         10.2            0.0      NaN
718  2022/4/30 23:00:00          9.7            0.0      NaN
719   2022/5/1 00:00:00          8.7            0.0      NaN

[720 rows x 4 columns]

In [ ]:
may = pd.read_csv('../data/temperature_file/2022-05.csv')

In [ ]:
print(may)

                datetime  temperature  precipitation  weather
0       2022/5/1 1:00:00          8.3            0.0      NaN
1       2022/5/1 2:00:00          8.7            0.0      NaN
2       2022/5/1 3:00:00          8.7            0.0      4.0
3       2022/5/1 4:00:00          8.6            0.0      NaN
4       2022/5/1 5:00:00          8.7            0.0      NaN
...                  ...          ...            ...      ...
3667  2022/9/30 20:00:00         20.2            0.0      NaN
3668  2022/9/30 21:00:00         20.3            0.0      1.0
3669  2022/9/30 22:00:00         19.6            0.0      NaN
3670  2022/9/30 23:00:00         18.8            0.0      NaN
3671  2022/10/1 00:00:00         18.8            0.0      NaN

[3672 rows x 4 columns]

In [ ]:
temperature = pd.concat([temperature, may])

In [ ]:
temperature['datetime'] = pd.to_datetime(temperature['datetime'])

In [128]:
temperature.set_index('datetime', inplace=True)
print(temperature)

                     temperature  precipitation  weather
datetime
2022-04-01 01:00:00          6.0            0.0      NaN
2022-04-01 02:00:00          5.7            0.0      NaN
2022-04-01 03:00:00          5.0            0.0      4.0
2022-04-01 04:00:00          4.8            0.0      NaN
2022-04-01 05:00:00          4.4            0.0      NaN
...                          ...            ...      ...
2022-09-30 20:00:00         20.2            0.0      NaN
2022-09-30 21:00:00         20.3            0.0      1.0
2022-09-30 22:00:00         19.6            0.0      NaN
2022-09-30 23:00:00         18.8            0.0      NaN
2022-10-01 00:00:00         18.8            0.0      NaN

[4392 rows x 3 columns]

In [130]:
data = pd.merge(people, temperature, left_index=True, right_index=True, how='inner')
print(data)

                      amount  temperature  precipitation  weather
2022-04-21 01:00:00   1033.0          9.2            0.0      NaN
2022-04-21 02:00:00     65.0          9.1            0.0      NaN
2022-04-21 03:00:00   1604.0          9.1            0.0      1.0
2022-04-21 04:00:00   1604.0          7.9            0.0      NaN
2022-04-21 05:00:00   1604.0          7.4            0.0      NaN
...                      ...          ...            ...      ...
2022-09-03 07:00:00   9741.0         22.4            0.0      NaN
2022-09-03 08:00:00  19613.0         22.8            0.0      NaN
2022-09-03 09:00:00  22055.0         23.2            0.0      4.0
2022-09-03 10:00:00  14644.0         23.4            0.0      NaN
2022-09-03 11:00:00  12751.0         23.7            0.0      NaN

[3251 rows x 4 columns]